:root{
--Soft-red: hsl(7, 99%, 70%);
--Yellow: hsl(51, 100%, 49%);
--Dark-desaturated-cyan: hsl(167, 40%, 24%);
--Dark-blue: hsl(198, 62%, 26%);
--Dark-moderate-cyan: hsl(168, 34%, 41%);
--Very-dark-desaturated-blue: hsl(212, 27%, 19%);
--Very-dark-grayish-blue: hsl(213, 9%, 39%);
--Dark-grayish-blue: hsl(232, 10%, 55%);
--Grayish-blue: hsl(210, 4%, 67%);
--White: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif; 
    line-height: 1.6;
}
.list{
    max-width: 114rem;
    margin: 0 auto;
}
.header{
    background: url(./images/desktop/image-header.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.header-arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-1 {
    margin-left: 2%;
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row{
   padding: 3rem; 
}
.nav-row{
    display:flex ;
    align-items: center;
}
.nav-logo{
    margin-right: auto;
}
.nav-list{
    list-style: none;
}
.nav-text{
    display: inline-block;
    padding: 0 2rem;
}
.nav-link{
    text-decoration: none;
    color: var(--White);
    font-size: 1.5rem;
}
.btn{
    border: none;
    outline: none;
    border-radius: none;
    cursor: pointer;
    background-color: transparent;
}
.btn-white{
    padding: 1.5rem 2.5rem;
    background-color: var(--White);
    color: black;
    border-radius: 10rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
}
.header-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    font-family: "Fraunces", sans-serif;
    letter-spacing: 0.2rem;
    color:var(--White);
}