@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
  box-sizing: border-box;
}

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

h1, img:not(.navlogo, .nav-btn) {
  width: 100%;
  display: block;
}

h1 {
  color: var(--White);
}
#nav-group li:hover {
  font-family: "Fraunces", serif;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#logo {
  background-image: url("../images/images/logo.svg");
  width: 125px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

#nav-bar {
  display: flex;
}

#hamburger {
  margin-left: auto;
  cursor: pointer;
  z-index: 1;
}

#nav-group {
  display: none;
}

#nav-group.active {
  display: flex;
  right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--White);
  min-width: 320px;
  height: 370px;
}

.dropdown {
  position: absolute;
  width: 325px;
  right: 25px;
}

#nav-triangle {
  display: none;
}

#nav-triangle.active {
  display: flex;
  margin-left: auto;
  margin-top: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent var(--White) transparent;
}
#section-banner {
  display: flex;
  flex-direction: column;
  background-image: url("../images/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  padding: 32px 25px;
  height: 538px;
}

#section-banner h1 {
  margin-top: 82px;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.arrow-down {
  background-image: url("../images/images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 36px;
  height: 114px;
  align-self: center;
  margin-top: 57px;
}

.section {
  text-align: center;
}

#card {
  width: 780px;
}

#nav-group ul {
  display: flex;
  flex-direction: column;
}

#nav-group li {
  display: flex;
  list-style: none;
  height: 54px;
  border-radius: 27px;
  color: var(--Grayish-blue);
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100px;
}

#nav-group li:hover {
  background-color: var(--Yellow);
  height: 54px;
  border-radius: 27px;
  color: var(--Very-dark-grayish-blue);
  cursor: pointer;
}

.nav-btn {
  background-color: var(--Yellow);
  color: black;
  font-weight: bolder;
}

.btn {
  display: none;
}

/* middle section */
.middle-section .img-desktop {
  display: none;
  width: 100%;
}
.img-mobile {
  display: block;
  width: 100%;

}
.text-block {
  border: 1px solid black;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0.85rem;
}

.title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: var(--Very-dark-desaturated-blue);
  margin-top: 0;
}
.description {
  font-size: 0.99rem;
  text-align: center;
  text-justify: inter-word;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 2rem;
  color: var(--Dark-grayish-blue);
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
a {
  font-family:"Fraunces", sans-serif ;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Very-dark-desaturated-blue);
  padding: 0 0.7rem;
}
.link-deco{
  position: relative;
  width: 90%;
  height: 0.6rem;
  transform: translateY(-0.5rem);
  z-index: -1;
  border-radius: 0.5rem;
  background-color: var(--Yellow);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.link-deco:hover{
  width: 100%;
  opacity: 1;
}
.red{
  background-color: var(--Soft-red);
}
.block-wrapper{
  position: relative;
}
.text-block-overlay{
  position: absolute;
  z-index: 1;
  top: 66%;
  padding: 0 2rem;
}

.tite{
  font-family:"Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-top: 1px;
}
.description1{
  font-size: 0.99rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 2.8rem 10; 
}
.green-tint{
  color: var(--Dark-desaturated-cyan);
}
.blue-tint{
  color: var(--Dark-blue);
}
/* client testimonial */
.client-testimonials{
  padding: 4rem 2rem 2rem;
  border: 1px solid black;
}
.client-testimonials h2{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--Grayish-blue);
}
.clients-wrapper{
  padding: 1rem 0;
}
.client{
  margin: 0.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2.4rem 0.2rem;
}
.client img{
  width: 22%;
  border-radius: 50%;
}
.testimonial{
  font-size: 1rem;
  text-align: center;
  padding: 2.5rem 0;
  line-height: 1.6rem;
  color: var(--Dark-grayish-blue);
}
.name{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--Very-dark-desaturated-blue);
}
.position{
  font-size: 1rem;
  color: var(--Grayish-blue);
  padding: 1rem 0;
  font-family: "Barlow", sans-serif;
}
/* footer section*/
.container-1{
  max-width: 1920px;
  margin: auto;
  background: white;
  overflow: auto;
}
.gallery{
  margin: 0px;
  border: 0px solid white;
  float: left;
  width: 207px;
}
.gallery img{
  width: 100%;
  height: auto;
}
.footer-footer{
  background: mediumspringgreen;
  width: 100%;
  overflow: auto;
}
.lists{
  margin: 0;
  padding: 0;
  list-style: none;
}
.final-list{
  float: left;
}
.linked{
  width: 118px;
  display: block;
  text-decoration: none;
  text-align: center;
  background:  mediumspringgreen;
  font-size: 18px;
  color: seagreen;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  text-transform: none;
}
.linked:hover{
  background: white;
  color: black;
}
.footer-logo{
  max-width: 200px;
  margin-top: 60px;
  background:  mediumspringgreen;
  height: auto;
  margin-left: 107px;
  margin-bottom: 30px;
}
.sc-linear{
  margin-left: 76px;
  padding: 0;
  list-style: none;
  float: left;
  border: 50px solid  mediumspringgreen;
}
.sc-list{
  float: left;
}
.horizontal{
  width: 50px;
  display: block;
  background: mediumspringgreen;
  color: var(--Dark-moderate-cyan);
  padding: 0;
  
}
.sc-media{
  max-width: 20px;
  height: auto;
}
/* desktop */
@media screen and (min-width: 992px) {
  #card {
    width: 1440px;
    min-width: 500px;
  }

  #section-banner {
    background-image: url("../images/images/desktop/image-header.jpg");
    height: 800px;
  }

  .section {
    display: flex;
  }
  #section-banner {
    padding: 32px 40px;
  }

  #section-banner h1 {
    margin-top: 110px;
    font-size: 3.5rem;
  }

  .arrow-down {
    margin-top: 115px;
  }

  #nav-triangle.active {
    display: none;
  }

  #nav-group,
  #nav-group.active {
    all: unset;
  }

  #nav-group ul {
    flex-direction: row;
  }

  #hamburger {
    display: none;
  }

  .dropdown {
    all: unset;
  }

  #nav-bar {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #nav-triangle {
    all: unset;
  }

  #nav-group li {
    color: var(--white);
  }

  #nav-group li:hover {
    color: var(--Very-dark-desaturated-blue);
    background-color: var(--white);
  }

  #logo {
    align-self: center;
  }
}