body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
    box-sizing: border-box;
}

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

.hero {
  /* width: 100%; */
  height: 600px;
  padding-top: 2rem;
  background-image: url(../images/images/mobile/image-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

}
img:not(.navlogo, .nav-btn) {
  width: 100%;
  display: block;
}

.nav-list {
  display: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn {
  display: none;
}

.nav-btn {
  width: 1.2rem;
  padding-right: 0.9rem;
  padding-top: 0;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  margin-bottom: -5.9rem;
}
.hero-arrow {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5rem;
  font-family: "Fraunces", sans-serif;
  letter-spacing: 0.3rem;
  color: var(--White);
}
/* middle section */
.middle-section .img-desktop {
  display: none;
  width: 100%;
}
/* .img-mobile {
  margin-top: -5.9rem;
} */
.img-mobile {
  display: block;
  width: 100%;

}
.text-block {
  border: 1px solid black;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0.85rem;
}

.title {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: var(--Very-dark-desaturated-blue);
  margin-top: 0;
}
.description {
  font-size: 0.99rem;
  text-align: center;
  text-justify: inter-word;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 2rem;
  color: var(--Dark-grayish-blue);
}
.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
a {
  font-family:"Fraunces", sans-serif ;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Very-dark-desaturated-blue);
  padding: 0 0.7rem;
}
.link-deco{
  position: relative;
  width: 90%;
  height: 0.6rem;
  transform: translateY(-0.5rem);
  z-index: -1;
  border-radius: 0.5rem;
  background-color: var(--Yellow);
  opacity: 0.5;
  transition: all 0.5s ease;
}
.link-deco:hover{
  width: 100%;
  opacity: 1;
}
.red{
  background-color: var(--Soft-red);
}
.block-wrapper{
  position: relative;
}
.text-block-overlay{
  position: absolute;
  z-index: 1;
  top: 66%;
  padding: 0 2rem;
}

.tite{
  font-family:"Fraunces", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  margin-top: 0.2rem;
}
.description1{
  font-size: 0.99rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 2.8rem 10; 
}
.green-tint{
  color: var(--Dark-desaturated-cyan);
}
.blue-tint{
  color: var(--Dark-blue);
}
/* client testimonial */
.client-testimonials{
  padding: 4rem 2rem 2rem;
  border: 1px solid black;
}
.client-testimonials h2{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: var(--Grayish-blue);
}
.clients-wrapper{
  padding: 1rem 0;
}
.client{
  margin: 0.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2.4rem 0.2rem;
}
.client img{
  width: 22%;
  border-radius: 50%;
}
.testimonial{
  font-size: 1rem;
  text-align: center;
  padding: 2.5rem 0;
  line-height: 1.6rem;
  color: var(--Dark-grayish-blue);
}
.name{
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--Very-dark-desaturated-blue);
}
.position{
  font-size: 1rem;
  color: var(--Grayish-blue);
  padding: 1rem 0;
  font-family: "Barlow", sans-serif;
}
/* footer section*/
.container-1{
  max-width: 1920px;
  margin: auto;
  background: white;
  overflow: auto;
}
.gallery{
  margin: 0px;
  border: 0px solid white;
  float: left;
  width: 207px;
}
.gallery img{
  width: 100%;
  height: auto;
}
.footer-footer{
  background: mediumspringgreen;
  width: 100%;
  overflow: auto;
}
.lists{
  margin: 0;
  padding: 0;
  list-style: none;
}
.final-list{
  float: left;
}
.linked{
  width: 118px;
  display: block;
  text-decoration: none;
  text-align: center;
  background:  mediumspringgreen;
  font-size: 18px;
  color: seagreen;
  padding: 10px;
  font-family: "Barlow", sans-serif;
  text-transform: none;
}
.linked:hover{
  background: white;
  color: black;
}
.footer-logo{
  max-width: 200px;
  margin-top: 60px;
  background:  mediumspringgreen;
  height: auto;
  margin-left: 107px;
  margin-bottom: 30px;
}
.sc-linear{
  margin-left: 76px;
  padding: 0;
  list-style: none;
  float: left;
  border: 50px solid  mediumspringgreen;
}
.sc-list{
  float: left;
}
.horizontal{
  width: 50px;
  display: block;
  background: mediumspringgreen;
  color: var(--Dark-moderate-cyan);
  padding: 0;
  
}
.sc-media{
  max-width: 20px;
  height: auto;
}
/* desktop */
@media screen and (min-width: 992px) {
  .hero {
    background-image:url(../images/images/desktop/image-header.jpg);
   background-size: 100%;
   background-position: 100%;
   /* background-attachment: scroll; */
   margin-bottom: .01%;
  }


  #nav-btn {
    display: none;
  }
  .nav-btn {
    padding-right: 7.5rem;
  }
  .navlogo {
    padding-left: 1rem;
  }
  br {
    display: none;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .nav-text a {
    margin: 2rem;
    /* padding-right: 10rem; */
    color: var(--White);
    font-weight: bold;
    font-family: "Barlow", sans-serif;
  }
  .nav-btn a {
    /* display:inline-block; */
    padding: 0.9rem 1.9rem;
    color: black;
    background-color: var(--White);
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
  .hero-arrow {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5rem;
    font-family: "Fraunces", sans-serif;
    letter-spacing: 0.3rem;
    color: var(--White);
  }


  .img-mobile{
    flex: 1;
    width: 50%;
    height: 650px;
    /* object-fit: contain; */
    /* display: none !important; */
  
  }

  .upper-sec{
    display: flex;
    height: 600px;
    
  }

  .sec-2{
    display: flex;
    height: 600px;
  }

  .sec-3{
    display: flex;
    height: 600px;
    margin-bottom: .5rem;
  }

  .text-block{
    width: 50%;
    padding: 0rem 7rem 8.8rem 6rem;
    margin-top: 150px;
    border: 1px;
    text-align: left;
    align-items: start;
  }

  .text-block-overlay{
    margin-top: 1rem;
  }

  .title{
    text-align: left;
    padding-right: 7rem;
  }

  .description{
    text-align: left;
  }

  .btn-wrapper{
    margin-left: -.5rem;
  }

  .learn{
    text-align: left;
  }
  
  
  .upper-sec > img{
    flex: 1;
    /* margin-top: 5rem; */
    width: 50%;
    height: auto;
  }
  .upper-sec > div{
    flex: 1;
    border: none;
    width: 50%;
    height: auto;
  }

  .sec-2 > img{
    flex: 1;
    width: 50%;
    height: auto;
  }
  .sec-2 > div{
    flex: 1;
    border: none;
    width: 50%;
    height: auto;
  }
  .sec-3 > div {
    flex: 1;
    width: 50%;
    height: 600px;
  }
  .sec-3 > img{
    max-height: 30vh;
    margin-bottom: 1px;
  };

.img-desktop{
  display: block !important;
  /* min-height: unset !important; */
	height: 600px;
  object-fit: unset;
  width: 100%;
}

/* .sec-3{
  height: 60vh;
} */

.client-testimonials{
  padding: 8rem 10rem 5rem 10rem;
  margin: 10rem 1rem 1 rem 2rem;
  height: 30rem;
  border: 0px;
}
.clients-wrapper{
  display: flex;
}
.client{
  margin: 2rem 4 rem 4 rem 3rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.client > img {
  width: 7rem;
  height: 7rem;
}
.gallery{
  flex: 1;
  width: 25%;
}

.lists{
  text-align: center;
  padding-left: 30rem;
}

.footer-footer{
  text-align: center;
  
}


}
